.search-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search-container input {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
	background: white;
	border: solid 1px #333;
}
